@import url(cabecalho.css);
@import url(conteudo.css);
@import url(footer.css);
@import url(games.css);

@font-face {
    font-family: Hurtmold-G5mA ;
    src: url(fonts/Hurtmold-G5mA.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    font-family: 'Hurtmold-G5mA';
    font-weight: bold;
    background-color: #F8FBFB;
}

.container{
    margin: 0px auto;
    max-width: 1200px;

}

.img-txt{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

h2{
    text-align: center;
    font-size: 32px;
    padding-bottom: 10px;
}

@media (max-width: 1100px) {
    .container{
        max-width: 900px;
    }
}

@media (max-width: 900px) {
    .container{
        max-width: 700px;
    }
}

@media (max-width: 550px) {
    .container{
        max-width: 360px;
    }
}