.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.align-icones{
    display: flex;
    justify-content: center;

}

.icones{
    width: 50px;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    fill: aqua;
}