
.cabecalho{
    align-items: center;  
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    font-size: 15px;
    margin-right: 225px;
    
}

.logo{
    width: 200px;
    height: 60px;
    fill: aqua;
}

.menu a{
    padding-left: 10px;
    padding-right: 10px;

}

.menu a:hover{
    color: #A4D6D7;

}

h2 {
    margin-top: 100px;
}

p {
    font-size: large;
}

.imgs{
    height: 250px;
    width: 500px;
    margin: 0px 0px 20px 0;
    border-radius: 10px;
}


.align-icones{
    display: flex;
    justify-content: center;
    margin-left: -10px;

}

.icones{
    width: 50px;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    fill: aqua;
}

